<div class="login-container scrollable">
  <form class="signin-form"
        (ngSubmit)="signIn()"
        #signinForm="ngForm">
    <h1>Welcome to the Homeless Temporary Housing Resource!</h1>

    <mat-form-field>
      <input id="email"
             matInput
             [(ngModel)]="credentials.email"
             placeholder="Email"
             name="email"
             type="email"
             required>
    </mat-form-field>

    <mat-form-field>
      <input id="password"
             matInput
             [(ngModel)]="credentials.password"
             placeholder="Password"
             name="password"
             type="password"
             required>
    </mat-form-field>

    <div class="login-btn">
      <button id="submit"
              class="btn btn-primary btn-margin"
              [disabled]="!signinForm.form.valid"
              type="submit">
        Log In {{signinForm.form.valid}}
      </button>

      <p class="signup">Don't have an account?
        <a routerLink="/signup">
          Sign Up
        </a>
      </p>
    </div>
  </form>
</div>