<h1 class="text-primary">
    Homeless User Dashboard
</h1>

<mat-accordion>
    <mat-expansion-panel *ngFor="let entry of shelters">
      <mat-expansion-panel-header>
        <mat-panel-title>
            <span>{{ entry.name }}</span>
        </mat-panel-title>
        <mat-panel-description>
            <span>{{ entry.distance }} miles away</span>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <mat-divider></mat-divider>
      <div class="column-flex mt-3">
            <span>Address: {{ entry.location }}</span>
            <span>Beds Available: {{ entry.beds - entry.checkedIn.length }}</span>
            <span>Total Beds: {{ entry.beds }}</span>
      </div>
    </mat-expansion-panel>
  </mat-accordion>